<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psiphon3.subscription">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>


    <application
        android:name="com.psiphon3.PsiphonApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Required for newer devices -->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity
            android:name="com.psiphon3.subscription.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="com.psiphon3.TunnelVpnService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:exported="false"
            android:process=":TunnelService" >
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <meta-data
                android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON"
                android:value="true" />
        </service>
        
        <provider
            android:authorities="com.psiphon3.subscription.LoggingProvider"
            android:name="com.psiphon3.subscription.LoggingProvider"
            android:exported="false"
            />

    </application>

</manifest>